{% extends 'components/layout.html' %}

{% block header %}
<h1 style="color:rgb(194, 46, 46);text-align:center; background-color: rgb(208, 223, 210); margin-bottom: 0px;"> Pokemon API </h1>
{% endblock header %}

{% block content %}

<img class="rounded mx-auto d-block" src="static/images/pokemon.jfif" width="800" height="300">
<h1 style="color:rgb(235, 221, 27);text-align:center;" >POKEMON API WEBSITE!</h1>
<p style="color:rgb(11, 66, 184);text-align:center;">{{ g }}</p>

{% endblock content %}